@import "./prism.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #0a0a0a;
    --background-secondary: #171717;
    --background-scrollbar: #131212;
    --background-scrollbar-track: #f1f1f1;
    --background-scrollbar-track-hover: #aba9a9;
    --text-primary: #ededed;
    --primary: #f7671a;
    --secondary: #212c6a;
  }
}

body {
  color: var(--text-primary);
  background: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-scrollbar);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-scrollbar-track);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-scrollbar-track-hover);
}

@layer components {
  .btn-primary {
    @apply py-2 px-5 text-white font-semibold rounded hover:bg-neutral-800 hover:text-white/80 text-white hover:shadow-[0px_1px_0px_0px_var(--neutral-600)_inset] transition duration-200 focus:outline-none focus:ring focus:ring-[#050e41] focus:ring-opacity-75;
  }

  .btn-primary:disabled {
    @apply bg-[#555970];
  }

  .sub-menu__wrapper {
    @apply pt-[30px] absolute invisible w-full left-0 top-full z-50;
  }

  .sub-menu {
    @apply w-full bg-black border border-gray-300 rounded p-2;
  }

  .sub-menu__wrapper:hover {
    @apply visible;
  }

  .nav-link {
    @apply transition duration-300 ease-out hover:ease-in hover:transition hover:duration-300 px-6 h-full flex items-center rounded text-base hover:bg-neutral-800 hover:text-white/80 text-white hover:shadow-[0px_1px_0px_0px_var(--neutral-600)_inset];
  }

  .mobile-nav-link {
    @apply block p-3 rounded hover:bg-neutral-800 hover:text-white/80 text-white hover:shadow-[0px_1px_0px_0px_var(--neutral-600)_inset] transition duration-200;
  }

  .nav-link:hover + .sub-menu__wrapper {
    @apply visible;
  }

  .footer-nav-link {
    @apply text-white transition duration-300 ease-out hover:ease-in hover:transition hover:duration-300 py-1.5 px-1  rounded text-base font-semibold hover:bg-gray-100 hover:text-secondary;
  }
}
