@import "./prism.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #f6fbff;
    --text-primary: #171717;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: #f7671a;
    --primary-foreground: 0 0% 98%;
    --secondary: #212c6a;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: #000000;
    --text-primary: #ffffff;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #f7671a;
    --primary-foreground: 240 5.9% 10%;
    --secondary: #212c6a;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .mySwiper {
    @apply py-16;
  }

  .btn-primary {
    @apply py-2 px-5 text-white font-semibold rounded hover:bg-neutral-800 hover:text-white/80 text-white hover:shadow-[0px_1px_0px_0px_var(--neutral-600)_inset] transition duration-200 focus:outline-none focus:ring focus:ring-[#050e41] focus:ring-opacity-75;
  }

  .btn-primary:disabled {
    @apply bg-[#555970];
  }

  .sub-menu__wrapper {
    @apply pt-[30px] absolute invisible w-full left-0 top-full z-50;
  }

  .sub-menu {
    @apply w-full bg-black border border-gray-300 rounded p-2;
  }

  .sub-menu__wrapper:hover {
    @apply visible;
  }

  .nav-link {
    @apply transition duration-300 ease-out hover:ease-in hover:transition hover:duration-300 px-6 h-full flex items-center rounded text-base hover:bg-neutral-800 hover:text-white/80 text-white hover:shadow-[0px_1px_0px_0px_var(--neutral-600)_inset];
  }

  .mobile-nav-link {
    @apply block p-3 rounded hover:bg-neutral-800 hover:text-white/80 text-white hover:shadow-[0px_1px_0px_0px_var(--neutral-600)_inset] transition duration-200;
  }

  .nav-link:hover + .sub-menu__wrapper {
    @apply visible;
  }

  .footer-nav-link {
    @apply text-white transition duration-300 ease-out hover:ease-in hover:transition hover:duration-300 py-1.5 px-1  rounded text-base font-semibold hover:bg-gray-100 hover:text-secondary;
  }
}
