.cursor {
  animation: blink 2s linear infinite;
  @apply bg-clip-text text-transparent bg-gradient-to-b from-neutral-800 via-white to-white;
}

@keyframes smooth-appear-animation {
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes smooth-cursor-appear-animation {
  to {
    opacity: 1;
  }
}

@keyframes smooth-disappear-animation {
  to {
    opacity: 0;
  }
}

@keyframes smooth-appear-arrow-animation {
  to {
    bottom: 40px;
    opacity: 1;
  }
}

.cursor-appear {
  opacity: 0;
  animation: smooth-cursor-appear-animation 1s ease forwards;
  animation-delay: 2s;
  @apply bg-clip-text text-transparent bg-gradient-to-b from-neutral-800 via-white to-white inline-block;
}

.cursor-disappear {
  animation: smooth-disappear-animation 1.5s ease forwards;
  animation-delay: 8s;
}

.smooth-appear-arrow {
  position: absolute;
  bottom: -100%;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: smooth-appear-arrow-animation 1.5s ease forwards;
  animation-delay: 6.3s;
}

.smooth-appear {
  position: absolute;
  bottom: -20px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  animation: smooth-appear-animation 1.5s ease forwards;
  animation-delay: 6s;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
